/* TELA DE CONTATO */
.contato-container {
    z-index: 999;
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: center;
    gap: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#contato-titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
    background-color: #A8A8A8;
    color: white;
    padding: 10px;
}

#contato-titulo h1{
    flex: 1;
    text-align: center;
}

#contato-titulo button{
    margin-right: 10px;
}

#contato-content {
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 80%;
    border-radius: 0 0 15px 15px;
    background-color: #dfdfdf;
    padding: 10px;
}

.contato-input {
    border: none;
    border-radius: 15px;
    padding: 10px;
    height: 20%;
}

.contato-enviar {
    border: solid 1px #898989;
    background-color: #dfdfdf;
    color: #898989;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.2s;
}
.contato-enviar:hover {
    background-color:#1B657A;
    color: white;
}

.contato-enviar-whatsapp {
    border: none;
    background-color: #00CD15;
    color: white;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.2s;
}
#divisor {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#898989;
}
#divisor hr {
    flex: 0 0 33.33%;
    height: 1px;

    border:#898989 1px solid;
}

.contato-title {
    font-size: 24px;
    margin: 0;
}

#btn-fechar-contato {
    background-color: #A8A8A8;
    border: none;
    color: white;
    cursor: pointer;
}