body {
}
* {
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

.contato-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#contato-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 15px;
    background-color: #dfdfdf;
    padding: 20px;
}

.contato-input {
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 25vw;
}

.contato-enviar {
    border: none;
    background-color: #00CD15; 
    color: white;
    padding: 5px;
    border-radius: 15px;
}

.contato-title {
    font-size: 24px;
}

@media (max-width: 1200px) {
    .contato-input {
        border: none;
        border-radius: 15px;
        padding: 10px;
        width: 80vw;
    }
}