body {
    margin: 0;
}
#footer-container {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-between;


    /* estilo */
    padding: 10px;
    background-color: #D7D7D7;
}
