body {
    margin: 0;
}
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

.img{
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Painel de pesquisa */

#pagina {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;

    margin: 20px 0;

}
.search-title {
    background-color: #585858;
    color: white;
    padding: 5px;
    border-radius: 15px 15px 0 0;

    margin-top: 10px;
}
.search-body {
    border-radius: 0 0 15px 15px;
    background-color: white;
    padding: 5px;
}
.input-text {
    width: 91%;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.input-title {
    text-align: center;
}
.input-search-group {
    width: 100%;
}
#localidade-titulo {
    margin-top: 15px;
}
#painel-pesquisa-float-completo {
    position: sticky;
    top: 0;
}
#painel-pesquisa-float-completo * {
    font-size: 13px;
}

#painel-pesquisa-float {
    width: 16vw;
    background-color: #D7D7D7;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
#painel-pesquisa-titulo {
    padding: 10px 0;
    text-align: center;
    color: white;
    background-color: #CE990F;
    border-radius: 15px 15px 0 0;
    margin-left: 50px;
}
#painel-pesquisa-opcoes {
    display: flex;
    flex-direction: column;
}
.radio-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.radio-options-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type='radio']:checked:after { /* quando selecionado */
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffa500;
        content: '';
        display: inline-block;
        visibility: visible;
}

/* painel de pesquisa LATERAL (para mobile) */
.lateral-title {
    background-color:#585858;
    color: white;
    padding: 0 5px;
}
#painel-pesquisa-lateral {
    width: 80%;
    height: 100vh;
    position: absolute;
    background-color:#D7D7D7;
    padding: 10px;
    flex-direction: row;
    align-items: start;
    z-index: 2;
    margin-left: 0;
    top: 0;
}
#painel-pesquisa-lateral * {
    font-size: 1em;
}
#painel-pesquisa-lateral button {
    width: 25vw;
}
#painel-pesquisa-opcoes-lateral {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.radio-options-lateral {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#button-buscar-container {
    text-align: center;
}
.busca-painel-btn {
    background-color:#ffa500;
    padding: 10px;
    border:none;
    color:white;
    border-radius: 15px;
    transition: all 0.2s;
    margin-top: 10px;

}
.busca-painel-btn:hover {
    background-color:#FFFFFF;
    color:#ffa500;
    text-decoration: underline;
}

#mobile-buscar {
    position:fixed;
    right: 10px;
    bottom: 10px;
    background-color:#ffa500;
    padding: 10px;
    border-radius: 100%;
    color: white;

    display: none;
}


/* produto */
#lista-produtos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    gap: 0.5vw;
}

.produto-container {
    background-color: #EDEDED;
    border-radius: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.produto-imagem {
    width: 300px;
    height: 200px;

    background-color: black;
    border-radius: 15px;
}
.produto-titulo {
    color: #1B657A;
    font-size: 18px;
}
.produto-titulo,.produto-descricao {
    text-align: center;
}
.produto-dados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.produto-saber-mais {
    background-color:#1B657A;
    color:white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    transition:all 0.2s
}
.produto-saber-mais:hover {
    background-color:#FFFFFF;
    color:#1B657A;
    text-decoration: underline;
}

#mais-itens {
    display:flex;
    width: 100%;

    justify-content: center;
}
#btn-mostrar-mais {
    background-color:#ffa500;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
}

/* classes de animação e keyframes */

@keyframes abrir-painel {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fechar-painel {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-20000vw);
        display:none;
    }
}

.search-show {
    animation-duration: 0.2s;
    animation-name: abrir-painel;

    display:flex;
}
.search-hidden {
    animation-duration: 0.5s;
    animation-name: fechar-painel;
    display:none;
}
.dark {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo preta com 50% de opacidade */
    filter: brightness(0.5); /* Aplica um filtro de brilho de 50% */
}

#filtros-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.filtro-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color:#1B657A;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
#pesquisa-result {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* media query */
@media (max-width: 1264px) {
    #painel-pesquisa-float-completo {
        display: none;
    }
    #mobile-buscar {
        display: block;
    }
}

@media(max-width: 1000px ) and (min-width: 600px){
    #lista-produtos {
        flex-direction: column;
        /* justify-content: center; */
        flex-wrap: wrap;
    }
    .produto-container {

        /* padding: 10px;
        width: 40%; */
    }
}
