body {
    margin: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'roboto', sans-serif;
    font-size: 18px;

}

.imgHeader{
    width: 100px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}



#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* estilo */
    background-color: #BCBCBC;
    padding: 10px 50px;
}

#nav-buttons {
    display:flex;
    flex-direction: row;
}

.nav-btn {
    background-color: #B77922;
    border: none;
    color: white;
    width: 10vw;
    height: 7vh;
    transition: all 0.2s

}
.nav-btn:hover {
    background-color: white;
    color: #B77922;
    text-decoration: underline;
}

#dropdown {
    text-align: center;
}
#btn-nav-entrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    #nav-logo {
        display:none;
    }
    #nav-buttons {
        width:100vw;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        text-align: center;
    }
    .nav-btn {
        width: 20vw;
        font-size: 12px;
    }
}
