body {
    margin: 0;
    box-sizing: border-box;

    /* estilo */
    background-color:#CBCBCB;
}
* {
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}
/* flexbox grade */
.area-container {
    display:flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap:wrap;

    margin: 0 5px;
}

#title-imovel{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

#title-imovel h1{
    /* flex: 1;
    text-align: center;
    padding-left: 185px; */
}

#imovel-id{
    display: flex;
    align-items: center;
    margin-right: 70px;
    height: 28px;

    background-color: #1B657A;
    color: white;
    padding: 0px 50px;
    border-radius: 10px;
}

.area-content {
    width: 33.33%;
    /* box-shadow: inset 0 0 10px #ff0000; */
}
.p-align-icon {
    display: flex;
    align-items: center;
}

/* mexendo */
/* #produto-carrossel{
    width: 650px;
    height: 450px;
    margin-bottom: 20px;

} */
/* .carrossel-container {
    position: relative;
} */
#proxima-imagem {
    position: absolute;
    top: 0px;
    right: 0px;
}
#anterior-imagem {
    position: absolute;
    top: 0px;
    left: 0px;
}
.slick-arrow {
    border: none;
    padding: 10px;
    color:white;;
    background-color:rgba(255, 255, 255, 0.247);
}
.slick-arrow:hover {
    background-color:rgba(255, 255, 255, 0.5);

}

.slick-list, .slick-track{
    height: 100%;
}

#proxima-imagem, #anterior-imagem {
    height: 80.6%;
}

/*CARROSSEL*/

.selected {
    display: block;
}
.unselected {
    display: none;
}

.carrossel-btn {
    width: 5%;

    background-color: rgba(255, 255, 255, 0.29);
    border: none;
    color: white;

    transition: all 0.2s;
}
.carrossel-btn:hover {
    background-color: white;
    color: black;
}

#carrossel-container {
    width: 80%;
    position: relative;
    display: flex;
}

#carrossel-content {
    width: 100%;
}

.carrossel-item {
    width: 100%;
    height: 420px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#next-btn {
    position: absolute;
    right: 0;
    top: 40%;

    height: 20%;
    border-radius: 10px 0 0 10px;
}

#prev-btn {
    position: absolute;
    left: 0;
    top: 40%;

    height: 20%;
    border-radius: 0 10px 10px 0;
}

#carrossel-galeria {
    flex: 1;
    display: flex;
    overflow: auto;
    gap: 10px;
    justify-content: center;


    margin-top: 10px;

    width: 80%;
}
.galeria-item {
    flex: 0 0 auto;
    min-height: min-content;

    height: 100px;
    width: 100px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------------ */

#produto-carrossel-nav{
    width: 100%;
}

.item-desfocado {
    filter: blur(4px); /* Ajuste o valor do desfoque conforme desejado */
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-nav{
    width: 170px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* mexendo */


.img{
    width: 650px;
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-semelhante {
    width: 80%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slick-dots{
    display: none !important;
}

.margin-spaced {
    margin: 1vh 0.5vw;
}
.padding-spaced {
    padding: 2vh 1vw;
}

#interesse {
    position: sticky;
    top: 1vh;
}



.flex-center-center-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.flex-column {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.flex-center-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mostrar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;

    color: white;
}

#pagina-layout {
    width:100%;
    display: flex;
    align-items: start;
}

#imovel-info-main {
    text-align: center;

    /* estilo */
    background-color:white;
}


.detalhes-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 20vw 5vw;
}

#interesse-contato-container {
    gap: 5px;
}

#semelhante-produtos-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.semelhante-produto-card {
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;

    border-radius: 15px;
    box-shadow: 0 0 0 2px #1B657A inset;
}



/* estilos */

#imovel-titulo h1 {
    color: #1B657A;
}
#valor {
    color: #1B657A;
}

#descricao-container {
     background-color: white;
     padding:10px;
}

#mais-detalhes {
    background-color: white;
}

#interesse {
    background-color: white;
}

#semelhantes {
    background-color: white;
}

.detalhes-titulo {
    color: #B77922;
    padding-bottom: 10px;
    border-bottom: #B77922 solid 3px;
}

.mais-detalhes-subtitulo {
    color: #B77922;
    background-color: #D9D9D9;
    padding: 0.5vh 1vw;
}

#interesse h1 {
    color: #1B657A;
}

.interesse-contato-input {
    border: #1B657A solid 3px;
    width:100%;
}
#interesse-contato-container input {
    height: 5vh;
}
.interesse-contato-input textarea {
    resize: none;
    height: 50vh;
}
#interesse-btn {
    background-color: #1B657A;
    border:none;
    color: white;
    width: 100.5%;
    height: 6vh;
    transition: all 0.3s;
}
#interesse-btn:hover {
    background-color: white;
    color:#1B657A;
    text-decoration: underline;
    border:#1B657A solid 3px;
}

#semelhante-produto-card *{
    text-align: center;
}

#fechar-icone {
    display: none;
}
.produto-saber-mais {
    background-color:#1B657A;
    padding: 5px 30px;
    color: white;
    border: none;

    border-radius: 15px;
}
/* #fechar-icone-container {
    width:100%;
    text-align: right;
} */
#mostrar-container {
    width:100%;
    display: flex;
    justify-content: end;
    align-items: start;
}
.produto-info-box {
    width: 100vw;
    display: flex;
    justify-content: center;
}
#produto-layout {
    width: 100%;
}
.img-navigation {
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    border: none;
}
.img-navigation:hover {
    background-color:#1B657A;
    color: white;
}

#voltar-imagem {
    position: relative;
    left: 49px;
}
#mudar-imagem {
    position: relative;
    right: 49px;
}

@media (max-width: 1250px){
    #fechar-icone {
        display: block;
    }
    #fechar-icone-container {
        display:block;
        position: absolute;
        top: 0;
        right: 0;
    }
    #mostrar {
        display: block;
        width: 100vw;
        height: 6vh;
        border-radius: 15px;

        font-size: 18px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.597);

        border: none;
        background-color:#1B657A;
    }
    #interesse {
        display:none;
        top: 0;
        left: 0;
        height: 99vh;
        width: 99vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;

        z-index: 1;
    }
    .interesse-contato-input {
        width: 95vw;
    }
}
@media (max-width: 600px) {
    .slick-list, .slick-track {
        height: 500px;
    }
    .terreno-area-container {
        flex-direction: column;
    }
    #pagina-layout {
        width: 100vw;
    }
    #imovel-dados {
        flex-direction: column;
        text-align: left;
    }
    #semelhante-produtos-itens {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .semelhante-produto-card {
        width: 75vw;
        margin: 10px;
    }
    .semelhante-produto-img {
        width: 80vw;
        height: 40vh;
    }

    /* #produto-carrossel{
        width: 80vw;
        height: 61vh;
    } */

    .img{
        width: 380px !important;
        height: 280px !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
